<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'client/bootstrap-italia/css/bootstrap-italia.min.css' %}" />
</head>

<body>
    {% block nav %}
    <div class="it-header-navbar-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--start nav-->
                    <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Navigazione principale">
                        <button class="custom-navbar-toggler" type="button" aria-controls="nav0" aria-expanded="false"
                            aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible"
                            data-bs-target="#nav0">
                            <svg class="icon bg-override">
                                <use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use>
                            </svg>
                        </button>
                        <div class="navbar-collapsable" id="nav0" style="display: none;">
                            <div class="overlay" style="display: none;"></div>
                            <div class="close-div">
                                <button class="btn close-menu" type="button">
                                    <span class="visually-hidden">Nascondi la navigazione</span>
                                    <svg class="icon">
                                        <use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="menu-wrapper">
                                <ul class="navbar-nav">
                                    <li class="nav-item active"><a class="nav-link active" href="{% url 'client_validation' %}"
                                            aria-current="page"><span>Validazione</span></a></li>
                                    <li class="nav-item"><a class="nav-link disabled" href="/client/pubblication"
                                            aria-disabled="true"><span>Pubblicazione</span></a></li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
           
        </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
    <!-- JS -->

    <script>
        window.__PUBLIC_PATH__ = '{% static "client/bootstrap-italia/fonts" %}'
    </script>

    <script src="{% static 'client/bootstrap-italia/js/bootstrap-italia.bundle.min.js' %}"></script>
</body>

</html>